html,body {
	margin:0;
	padding:0;
}
body{
	background:#f7f7f7 url(../images/pattern.png) repeat top left;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace ;
	font-size:13px;
}
a{
	color:#000;
	text-decoration:none;
}
.clr{
	clear:both;
}
.more{
	margin:10px auto;
	text-align:center;
	color:#444;
}
.current,
.current:hover{
	color:#fff;
	background: #1D8F01;
	border:1px solid #316A0D;
	padding:0 8px 2px 8px;
	border-radius:5px;
}
.more a:hover{
	background-color:#1693eb;
	color:#fff;
}
/* Header Style */
.header{
	line-height:24px;
	font-size:11px;
	background:#000;
	opacity:0.9;
	text-transform:uppercase;
	z-index:4;
	-moz-box-shadow:1px 0px 2px #000;
	-webkit-box-shadow:1px 0px 2px #000;
	box-shadow:1px 0px 2px #000;
}
.header span{
	padding:0px 10px;
	letter-spacing:1px;
	color:#ddd;
	display:block;
	float:left;
}
.st-content{

}
.wrapper{
	width:90%;
	max-width:100%;
	margin:30px auto;
}
.st-accordion{
    width:100%;
    min-width:270px;
    margin: 0 auto;
}
.st-accordion ul li{
    border-bottom: 1px solid #c7deef;
    border-top:1px solid #fff;
    overflow: hidden;
}
.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li > .errhead{
	margin-top:5px;
    font-size: 16px;
}
.st-content{
	margin:10px 0;
	background: rgba(255,255,255,0.4);
    padding: 10px;
	border-radius:5px;
	border:1px solid #97c1e0;
}
.st-content p{
    font-size:  14px;
}
.errhead:hover{
	cursor:pointer;
	color: #97c1e0;
}